In [1]:
import sys
sys.version_info

sys.version_info(major=3, minor=4, micro=2, releaselevel='final', serial=0)

In [2]:
import petl as etl
etl.__version__

'1.0.6'

In [3]:
tbl1 = [['foo', 'bar'],
        ['a b c', 1],
        ['d e f', 2],
        [None, 3]]

In [4]:
tbl2 = etl.wrap(tbl1).replace('foo', None, '  ').split('foo', ' ', ['x', 'y', 'z']).replaceall('', None)
tbl2

+-----+------+------+------+
| bar | x    | y    | z    |
+=====+======+======+======+
|   1 | 'a'  | 'b'  | 'c'  |
+-----+------+------+------+
|   2 | 'd'  | 'e'  | 'f'  |
+-----+------+------+------+
|   3 | None | None | None |
+-----+------+------+------+